<!DOCTYPE html>
<html lang="eng">
<head>
    <title></title>

</head>
<body>
  <h2>Applicant Information</h2>
  <h4>This email contains the applicant's resume. Please see the attached PDF for details.</h4>
  <ul>
    <li><b>Full Name:</b> {{ fullname }}</li>
    <li><b>Email:</b> {{ email }}</li>
    <li><b>Gender:</b> {{ gender }}</li>
    <li><b>Phone:</b> {{ phone_number }}</li>
    <li><b>Current location:</b> {{ current_location }}</li>
    <li><b>Current company:</b> {{ current_company }}</li>
    <li><b>Notice period:</b> {{ notice_period }}</li>
    <li><b>Expected salary:</b> {{ salary_expectation }}</li>
    <li><b>Referal source:</b> {{referral_source}}</li>
    <li><b>Years of experience:</b> {{years_of_experience}}</li>
    <li><b>LinkedIn profile:</b> {{linkedin_profile}}</li>
    <li><b>Github profile:</b> {{github_profile}}</li>
    <li><b>Portfolio:</b> {{portfolio}}</li>
  </ul>
</body>
</html>